

@media (max-width: 767px) {
    .sub-header__search-icon {
        order: 4;
        margin-left: auto;
    }
    .sub-header__content button {
        order: 3;
    }
    .sub-header__content button {
        display: none;
    }

    .sub-header__content {
        gap: 30px ;
    }
}