body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

h1 {
    display: none;
}

@font-face {
    font-family: 'Pacifico';
    src: url("/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/*header*/

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__top, .header__bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 17px 30px;
    background-color: #F4F4F4;
    box-sizing: border-box;
}

.header__top-content, .header__bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
}

.header__top .header__top-languages {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    font-size: 13px;
    line-height: 100%;
}

.header__top .header__top-languages a,
.header__bottom .header__top-languages a{
    text-decoration: none;
    color: #333333;
}

.header__top .header__top-languages a:first-child,
.header__bottom .header__top-languages a:first-child {
    font-weight: bold;
}

.header__top .header__top-contacts {
    display: flex;
    gap: 41px;
    font-size: 13px;
    line-height: 100%;
}

.header__top .header__top-contacts a {
    text-decoration: none;
    color: #333333;
}

.header__bottom {
    background-color: white;
    font-size: 16px;
    line-height: 100%;
}

.header__bottom .header__bottom-burger-icon {
    display: none;
}


.header__bottom .header__bottom-search-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}


.header__bottom .header__bottom-content nav {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 38px;
    color: #333333;
    font-weight: bold;
}

.header__bottom .header__bottom-content nav a {
    text-decoration: none;
    color: #333333;
}


.header__bottom .header__bottom-content button {
    padding: 15px 43px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #F2656B;
    color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
}

.header__bottom .header__bottom-content .header__top-languages {
    display: none;
    order: 6;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*hero*/

.b-hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 649px;
    padding: 15px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/hero.png");
}

.b-hero .hero__sliders {
    --swiper-theme-color: white;
}

.b-hero .hero__sliders {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
    padding-bottom: 52px;
    box-sizing: border-box;
    overflow: hidden;
}

.b-hero .hero__slider {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.b-hero .hero__slider-content {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    width: 100%;
    padding: 52px 30px;
    box-sizing: border-box;
}

.b-hero .hero__pagination.swiper-pagination-bullets,
.b-products-sliders .hero__pagination.swiper-pagination-bullets {
    position: initial;
    bottom: 0;
    top: auto;
    width: min-content;
    display: flex;
    flex-wrap: nowrap;
}


/*text on hero slides*/

.b-hero .hero__slider span {
    text-wrap: nowrap;
}

.b-hero .hero__slider span:first-child {
    font-size: 90px;
    line-height: 100%;
    font-weight: 600;
}

.b-hero .hero__slider span:nth-child(2) {
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
}

.b-hero .hero__slider span:last-child {
    font-family: Pacifico, serif;
    font-size: 50px;
    line-height: 113%;
    margin-top: 23px;
}

/*arrows*/

.b-hero .hero__arrow-wrapper:after {
    display: none;
}

.b-hero .hero__arrow-wrapper {
    position: initial;
    cursor: pointer;
}

.hero__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px; /* гарантируем минимальную ширину */
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FEB81E;
    transition: 0.3s;
}

.hero__arrow i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.hero__arrow-left {
    margin-left: 3px;
    transform: rotate(135deg);
}

.hero__arrow-right {
    margin-right: 3px;
    transform: rotate(-45deg);
}

/*products*/

.b-products {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 91px 0 67px 0;
}

.b-products .products__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 1170px;
    width: 100%;
}

.b-products .products__content img {
    width: 100%;
}

.b-products .products__item {
    position: relative;
    cursor: pointer;
}

.b-products .products__item:last-child {
    grid-column: span 2;
}

.b-products .products__item-tablet {
    display: none;
}

.b-products .products__item div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    padding: 37px 43px 0 43px;
}

.b-products .products__item div img {
    width: 10px;
    height: 18px;
}

.b-products .products__item span {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 100%;
}

.b-products .products__item i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 3px;
    transform: rotate(-45deg);
}

/*product-description*/

.b-product-description {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b-product-description h2 {
    font-size: 40px;
    text-align: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.b-product-description p {
    text-align: center;
    color: #333333;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
    padding: 0 30px;
    box-sizing: border-box;
}

.b-product-description .product-description__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 78px;
    margin: 79px 0;
    padding: 0 30px;
    box-sizing: border-box;
}

.b-product-description .product-description__item {
    display: flex;
    gap: 39px;
}

.b-product-description .product-description__item img {
    width: 60px;
    height: 60px;
}

.b-product-description .product-description__item span {
    display: block;
    width: 200px;
    font-size: 16px;
    color: #333333;
}

.b-product-description .product-description__item h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/*products-sliders*/

.b-products-sliders {
    padding: 80px 0 59px 0;
    background: #F4F4F4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-products-sliders .products-sliders__swiper {
    --swiper-theme-color: #F2656B;
}

.products-sliders__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 30px;
    box-sizing: border-box;
}

.b-products-sliders .products-sliders__swiper {
    overflow: hidden;
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.b-products-sliders .swiper-wrapper.products-sliders__swiper-wrapper {
    display: flex;
}

.b-products-sliders .swiper-slide.products-sliders__slider {
    height: auto;
}

.b-products-sliders .products-sliders__slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px 46px 36px 46px;
    box-sizing: border-box;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.b-products-sliders .products-sliders__slider-content:hover {
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.b-products-sliders .products-sliders__slider-price {
    margin-top: auto;
    font-size: 24px;
    margin-bottom: 4px;
}

.b-products-sliders .products-sliders__slider-count {
    margin-bottom: 17px;
    color: #666666;
}

.b-products-sliders .products-sliders__slider-content button {
    padding: 12px 36px;
    border-radius: 50px;
    border: none;
    background-color: #FEB81E;
    cursor: pointer;
    font-size: 16px;
    line-height: 100%;
    transition: all ease-in-out 0.2s;
}

.b-products-sliders .products-sliders__slider-content button:hover {
    background-color: #F2656B;
}

.b-products-sliders .products-sliders__slider-content h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.b-products-sliders .hero__arrow-wrapper:after {
    display: none;
}

.b-products-sliders .hero__arrow-wrapper {
    position: initial;
    cursor: pointer;
}