body {
    margin: 0;
    font-family: Monserrat, sans-serif;
}

/*header*/

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b-sup-header, .b-sub-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 17px 30px;
    background-color: #F4F4F4;
    box-sizing: border-box;
}

.sup-header__content, .sub-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
}

.sup-header__languages {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    font-size: 13px;
    line-height: 100%;
}

.sup-header__contacts {
    display: flex;
    gap: 41px;
    font-size: 13px;
    line-height: 100%;
}

.b-sub-header {
    background-color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
}

.sub-header__burger-icon {
    display: none;
}

.sub-header__search-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.sub-header__wrapper {
    display: flex;
    gap: 70px;
    align-items: center;
}

.sub-header__content nav {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 38px;
    color: #333333;
}


.sub-header__content button {
    padding: 15px 43px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #F2656B;
    color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
}

.sub-header__content .sup-header__languages {
    display: none;
}