@media (min-width: 768px) and (max-width: 1024px ) {

    /*header*/

    .b-sub-header {
        font-size: 13px;
    }

    .b-sub-header .sub-header__content button {
        font-size: 13px;
    }

    .b-sub-header .sub-header__logo {
        width: 150px;
        height: 80px;
    }

    .b-sub-header .sub-header__content nav {
        gap: 20px;
    }

    /*product-description*/

    .b-product-description .product-description__items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {

    /*hero*/

    .js-hero-btn-prev.hero__arrow-wrapper,
    .js-hero-btn-next.hero__arrow-wrapper {
        display: none;
    }

    .b-hero {
        height: 375px;
    }

    .b-hero .hero__slider span:first-child {
        font-size: 56px;
    }

    .b-hero .hero__slider span:nth-child(2) {
        font-size: 14px;
    }

    .b-hero .hero__slider span:last-child {
        font-size: 30px;
    }

    /*products*/

    .b-products .products__content {
        grid-template-columns: 1fr 1fr;
    }

    .b-products .products__item:last-child {
        grid-column: span 1;
    }

    .b-products .products__item-desktop {
        display: none;
    }

    .b-products .products__item-tablet {
        display: block;
    }

}

@media (max-width: 880px) {

    /*header*/

    .b-sup-header {
        display: none;
    }

    .b-sub-header .sub-header__content button {
        order: 4;
    }

    .b-sub-header .sub-header__burger-icon {
        display: block;
    }

    .b-sub-header .sub-header__search-icon {
        order: 5;
    }

    .b-sub-header .sub-header__content nav {
        display: none;
    }

    .b-sub-header .sub-header__content .sup-header__languages {
        display: flex;
        gap: 5px;
        align-items: center;
    }
}